<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092071960260-mlgsocu8tuuelhcv855jn8n3g1ptko5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092071960260-mlgsocu8tuuelhcv855jn8n3g1ptko5a</string>
	<key>API_KEY</key>
	<string>AIzaSyAYet3UIVCwCdB5pvu4TzdowjHiM8wY_tQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1092071960260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ipvc.HelpMeParkIOS</string>
	<key>PROJECT_ID</key>
	<string>park-8a6b8</string>
	<key>STORAGE_BUCKET</key>
	<string>park-8a6b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092071960260:ios:a81ee3a0a66cb4a9</string>
	<key>DATABASE_URL</key>
	<string>https://park-8a6b8.firebaseio.com</string>
</dict>
</plist>